AGGREGATE_ID=gateway
PROJECT_NAME=dev_forum

GO_VERSION=1.23
SERVICE_ENV=debug
DEBUG_PORT=2345

MODULE_NAME=github.com/krixlion/${PROJECT_NAME}-${AGGREGATE_ID}

TLS_CA_PATH=/tls/ca.crt
TLS_CERT_PATH=/tls/tls.crt
TLS_KEY_PATH=/tls/tls.key
TLS_CLIENT_CERT_PATH=/tls/client/tls.crt
TLS_CLIENT_KEY_PATH=/tls/client/tls.key

USER_SERVICE_URL=user-service:50051
ARTICLE_SERVICE_URL=article-service:50052
AUTH_SERVICE_URL=auth-service:50053

OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector-service:4317
