AGGREGATE_ID=gateway
PROJECT_NAME=dev_forum

GO_VERSION=1.21.3
SERVICE_ENV=debug
DEBUG_PORT=2345

MODULE_NAME=github.com/krixlion/${PROJECT_NAME}-${AGGREGATE_ID}

TLS_CA_PATH=/tls/ca.crt
TLS_CERT_PATH=/tls/tls.crt
TLS_KEY_PATH=/tls/tls.key
TLS_CLIENT_CERT_PATH=/tls/client/tls.crt
TLS_CLIENT_KEY_PATH=/tls/client/tls.key

# Overriden when running in Kubernetes.
# Pattern: servicename_SERVICE_<HOST/PORT>
USER_SERVICE_SERVICE_HOST=user-service
USER_SERVICE_SERVICE_PORT=50051

ARTICLE_SERVICE_SERVICE_HOST=article-service
ARTICLE_SERVICE_SERVICE_PORT=50052

AUTH_SERVICE_SERVICE_HOST=auth-service
AUTH_SERVICE_SERVICE_PORT=50053

OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector-service:4317
